@font-face {
    font-family: 'Anton-Regular';
    src: url('/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Antonio';
    src: url('/fonts/Antonio-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-Medium';
    src: url('/fonts/Dosis-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dekko-Regular';
    src: url('/fonts/Dekko-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis-Medium';
}

body {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: blanchedalmond;
    animation-duration: 1s;

    /* Background */
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    backdrop-filter: blur(0.3rem);
}

.main-content{
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cover-2018{
    background: url("/imgs/2018-ten-hours.jpeg");
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cover-2019{
    background: url("/imgs/2019-ravioli.jpeg");
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cover-2021{
    background: url("/imgs/2021-greg.jpeg");
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.cover-2022{
    background: url("/imgs/2022-chaos.jpeg");
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cover-2023{
    background: url("/imgs/2023-road.jpeg");
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover-2018-small{
    background: url("/imgs/2018-ten-hours.jpeg");
}
.cover-2019-small{
    background: url("/imgs/2019-ravioli.jpeg");
}
.cover-2021-small{
    background: url("/imgs/2021-greg.jpeg");
}
.cover-2022-small{
    background: url("/imgs/2022-chaos.jpeg");
}
.cover-2023-small{
    background: url("/imgs/2023-road.jpeg");
}

.mo-2018{
    background: url("/imgs/making-of/2018-making-of.png");
}

.mo-2019{
    background: url("/imgs/making-of/2019-making-of.png");
}

.mo-2021{
    background: url("/imgs/making-of/2021-making-of.png");
}

.mo-2022{
    background: url("/imgs/making-of/2022-making-of.png");
}

.mo-2023{
    background: url("/imgs/making-of/2023-making-of.png");
}

.sp-2018{
    background: url("/imgs/special/2018.png");
}

.sp-2019{
    background: url("/imgs/special/2019.png");
}

.sp-2021{
    background: url("/imgs/special/2021.png");
}

.sp-2022{
    background: url("/imgs/special/2022.png");
}

.sp-2023{
    background: url("/imgs/special/2023.png");
}

.page-title{
    margin: 0 5vw 3vh 5vw;
    color: white;
    background-color: #080000;
    padding: 0 0.5em;
    font-family: 'Anton-Regular';
    font-weight: 400;
    text-align: center;
    display: inline;
    overflow: visible;
    text-wrap: nowrap;
}

.page-title-outside-main-content{
    display: none;
    visibility: hidden;
    position: absolute;
    font-size: 4em;
    top:1em;
}

.page-title-inside-main-content{
    display: block;
    visibility: visible;
    font-size: 4em;
    
}



#player {
    
}

.player-small {
    height: 30vh;
    width: 30vw;
    transition: 1s;
    border-radius: 20px;
    margin-bottom: 2.5px;

    font-family: 'Anton-Regular';
    font-size: larger;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: white;

    font-weight: 400;
    font-family: 'Antonio-Regular';
}

.main-buttons-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45vw;
    backdrop-filter: blur(4px);
    padding-top: 10vh;
}

.main-button{
    text-decoration: none;
    color: white;
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: 50% 0;
    width: 20vw;
    height: 25vh;
    border-radius: 20px;
}


.main-button:hover {
    animation: panAnimation 8s ease infinite;
    animation-delay: 0s;
    scale: 1.02;
}


@keyframes panAnimation{
    0%{
        background-position: left;
    }

    50%{
        background-position: right;
    }

    100%{
        background-position: left;
    }
}

button{
    overflow: hidden;
}

#music-player-button-inner{
    display: flex;
    flex-direction: column;
    justify-items: end;
    overflow: hidden;

}

.main-button-inner-text{
    width: 100%;
    height: 92%;
    padding-bottom: 12%;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0) 100%
        );
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
}

#button-special{
    border-bottom-left-radius: 0;
}
#button-making-of{
    border-bottom-right-radius: 0;
}
#music-player-button{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 25vh;
    margin-left: calc(20vw - 25vh);
}
#about-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25vh;
    margin-right: calc(20vw - 25vh);
    background-color: #080000;
}

.extra-button{
    width: 20vh;
    height: auto;
    padding-top: 10px;

    text-decoration: none;
    color: white;
    background-color: black;
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: 50% 0;
    border-radius: 20px;
}

.extra-button-merch{
    border-top-right-radius: 0;
}

.extra-button-contact{
    border-top-left-radius: 0;
}

.player-fullscreen {
    height: 100vh;
    width: 100vw;
    transition: 1.5s;
    border-radius: 0px;
    position: absolute;
}

.hidden {
    display: none;
    visibility: hidden;
}

.container__years{
    display: flex;
    position: absolute;
    right:70.5vw;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    top: calc(25vh);
    z-index: 1000;
    
}

.panel-button {
    padding: 10px;
    margin-bottom: 6px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #cccccc;
    font-family: 'Antonio';
}

.panel-button:hover{
    scale: 1.1;
}

.button-selected-year{
    font-size: x-large;
    pointer-events: none;
    cursor: pointer;

    background-color: #ffffff;
}

h1 h2 h3{
    color: white;
    text-align: center;
}

.footer__regular{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Dosis-Medium';
    background-color: #e6e6e6;
}

.footer__regular>a{
    color: black;
}

.footer__dark{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Dosis-Medium';
    background-color: transparent;
    color: white;
}

.footer__dark>a{
    color: white;
}

.footer__right{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.footer__fixed{
    position: absolute;
    bottom:0;
}

footer>a{
    font-size: small;
    font-style: normal;
    font-family: 'Antonio';
    font-weight: 400;
    text-decoration: none;
}

footer>a:hover {
    text-decoration: underline;
}

.club {
    color: red;
    font-family: 'Dekko-Regular';
    font-size: small;
    margin-right: 0.3em;
}

#music-player-button-inner{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    aspect-ratio: 1;
    width: auto;
}

.decoration-video{
    width: 50%;
    visibility: visible;
}

.fullscreen-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    right:0;
    z-index: 2000;
}

.fullscreen-menu__button{
    height:40px;
    width:120px;
    margin: 5px 10px 0 0;
}
.extra-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) );
    backdrop-filter: blur(4px);
    z-index: 2900;

}

.extra-container-panel{
    position: absolute;
    width: 600px;
    height: auto;
    background-color: #080000;
    color: white;
    padding:40px 80px;
    border-radius: 20px;
    z-index: 3000;
}

.about-content-title{
    margin-bottom: 10px;
}

.about-content-subtitle{
    margin-top:30px;
    margin-bottom:10px;
}

.about-content-text{
    color: white;
}

.close-button{
    position: absolute;
    top:-1em;
    right:-1em;
    width:3em;
    height: 3em;
    border-radius: 1000px;
    font-weight: 700;
}

.extra-button{
    padding-top: 20px;
}

.strong{
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .footer__regular{
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 20px;
        font-family: 'Dosis-Medium';
        background-color: #e6e6e6;
    }

    .footer__regular>a{
        color: black;
    }

    .footer__dark{
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 20px;
        font-family: 'Dosis-Medium';
        background-color: #080000;
        color: white;
    }

    .footer__dark>a{
        color: white;
    }

    .footer__right{
        display: block;
        position: absolute;
        margin:0;
        padding: 0;
        bottom:0;
        width: 100%;
        background-color: #020000;
    }

    footer>a{
        font-size: small;
        font-style: normal;
        font-family: 'Antonio';
        font-weight: 400;
        text-decoration: none;
    }

    footer>a:hover {
        text-decoration: underline;
    }

    .club {
        color: red;
        font-family: 'Dekko-Regular';
        font-size: small;
        margin-right: 0.3em;
    }

    .player-small{
        width: 70vw;
    }

    .container__years{
        display: flex;
        position: relative;
        left:0;
        top: 6.5em;
        flex-direction: row;
        align-items: end;
        width: 100%;
        justify-content: center;
    }

    .main-content{
        align-items: center;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .main-button, #button-making-of, #button-special{
        width:45vw;
        height:45vw;
        padding: 0;
        margin: 0;
    }

    #music-player-button, #about-button{
        width:40vw;
        height:25vw;
        padding: 0;
        margin: 0;
    }

    .extra-button, .extra-button-contact, .extra-button-merch, #extra-button-contact, #extra-button-merch{
        width:40vw;
        height:20%;
        padding: 0;
        padding-top: 10px;
        margin: 0;
    }

    .main-buttons-container{
        top:11em;
        padding: 0;
        width:100%;
        height: fit-content;
        flex-direction: row;
    }

    .main-button-inner-text{
        font-size: medium;
    }

    .page-title-outside-main-content{
        display: block;
        visibility: visible;
        font-size: 2.1em;
        top: 0.75em;
        margin:0;
        height: 2em;
    }

    .page-title-inside-main-content{
        display: none;
        visibility: hidden;
    }

    .extra-container{
        width: 100%;
    }

    .extra-container-panel{
        width:auto;
        height: fit-content;
        padding: 20px;
        margin: 20px;
    }

    .extra-container-panel-content{
        width:100%;
        height: 80%;
        max-height: 80%;
        overflow-y: auto;
    }

    .about-content-text{
        color: white;
        font-size: small;
    }
}