@font-face {
    font-family: 'Anton-Regular';
    src: url('/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Antonio';
    src: url('/fonts/Antonio-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-Medium';
    src: url('/fonts/Dosis-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dekko-Regular';
    src: url('/fonts/Dekko-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: blanchedalmond;
    animation-duration: 1s;

    /* Background */
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    backdrop-filter: blur(0.3rem);
}

.page-title{
    margin-bottom: 3vh;
    color: white;
    background-color: #080000;
    padding: 0 0.5em;
}

.page-title-outside-main-content{
    display: none;
    visibility: hidden;
    position: absolute;
    font-size: 4em;
    top:1em;
}

.page-title-inside-main-content{
    display: block;
    visibility: visible;
    font-size: 4em;
    
}

.main-buttons-container{
    top:10vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#player {
    /* nothing here yet */
}

.player-small {
    height: 30vh;
    width: 30vw;
    transition: 1s;
    border-radius: 20px;
    margin-bottom: 2.5px;
}

.player-small:hover{
    scale: 1.02;
}

.player-fullscreen {
    height: 100vh;
    width: 100vw;
    transition: 1.5s;
    border-radius: 0px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.container__years{
    display: flex;
    position: absolute;
    right:66vw;

    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    z-index: 1000;
    
}

.panel-button {
    padding: 10px;
    margin-bottom: 6px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #cccccc;
}

.panel-button:hover{
    scale: 1.1;
}

.button-selected-year{
    font-size: x-large;
    pointer-events: none;
    cursor: pointer;

    background-color: #ffffff;
}

h1{
    color: white;
    text-align: center;
}

.footer__regular{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Dosis-Medium';
    background-color: #e6e6e6;
}

.footer__regular>a{
    color: black;
}

.footer__dark{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Dosis-Medium';
    background-color: transparent;
    color: white;
}

.footer__dark>a{
    color: white;
}

.footer__right{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.footer__fixed{
    position: absolute;
    bottom:0;
}

footer>a{
    font-size: small;
    font-style: normal;
    font-family: 'Antonio';
    font-weight: 400;
    text-decoration: none;
}

footer>a:hover {
    text-decoration: underline;
}

.club {
    color: red;
    font-family: 'Dekko-Regular';
    font-size: small;
    margin-right: 0.3em;
}

@media screen and (max-width: 768px) {
    .footer__regular{
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 20px;
        font-family: 'Dosis-Medium';
        background-color: #e6e6e6;
    }

    .footer__regular>a{
        color: black;
    }

    .footer__dark{
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 20px;
        font-family: 'Dosis-Medium';
        background-color: #080000;
        color: white;
    }

    .footer__dark>a{
        color: white;
    }

    .footer__right{
        display: block;
        position: absolute;
        margin:0;
        padding: 0;
        bottom:0;
        width: 100%;
        background-color: #020000;
    }

    footer>a{
        font-size: small;
        font-style: normal;
        font-family: 'Antonio';
        font-weight: 400;
        text-decoration: none;
    }

    footer>a:hover {
        text-decoration: underline;
    }

    .club {
        color: red;
        font-family: 'Dekko-Regular';
        font-size: small;
        margin-right: 0.3em;
    }

    .player-small{
        width: 70vw;
    }

    .container__years{
        display: flex;
        position: absolute;
        left:auto;
        right: calc(70vw + 8px);

        flex-direction: column;
        align-items: end;
        justify-content: center;

        top:calc(28vh);
    }

    .main-buttons-container{
        right:0;
        margin-right: 5px;
        top:15vh;
    }

    .page-title-outside-main-content{
        display: block;
        visibility: visible;
        font-size: 2.1em;
        top: 0.75em;
        margin:0;
    }

    .page-title-inside-main-content{
        display: none;
        visibility: hidden;
    }


}
@media screen and (max-width: 350px) {
    body{
        background-size: cover;
    }
    
    .container__years{
        display: flex;
        position: absolute;
        left:auto;
        top:1em;
        right: auto;

        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;

    }

    .main-buttons-container{
        left: auto;
        right: auto;
        top:20vh;
    }

    .player-small{
        width: 70vw;
        height: 25vh;
    }

    .page-title-outside-main-content{
        display: none;
        visibility: hidden;
    }

    .page-title-inside-main-content{
        display: inline-block;
        visibility: visible;
        font-size: x-large;
    }
}