@font-face {
    font-family: 'Anton-Regular';
    src: url('/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Antonio';
    src: url('/fonts/Antonio-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dosis-Medium';
    src: url('/fonts/Dosis-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dekko-Regular';
    src: url('/fonts/Dekko-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: blanchedalmond;
    animation-duration: 1s;

    /* Background */
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    backdrop-filter: blur(0.3rem);
}

#player {
    /* nothing here yet */
}

.player-small {
    height: 30vh;
    width: 30vw;
    transition: 1s;
    border-radius: 20px;
}

.player-fullscreen {
    height: 100vh;
    width: 100vw;
    transition: 1.5s;
    border-radius: 0px;
}

.hidden {
    display: none;
    visibility: hidden;
}

#left-panel{
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.panel-button {
    padding: 10px;
    margin-bottom: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

.button-selected-year{
    font-size: x-large;
    pointer-events: none;
    cursor: pointer;

}

h1{
    color: white;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
}

.footer__regular{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Dosis-Medium';
    background-color: #e6e6e6;
}

.footer__regular>a{
    color: black;
}

.footer__dark{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Dosis-Medium';
    background-color: transparent;
    color: white;
}

.footer__dark>a{
    color: white;
}

.footer__right{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

footer>a{
    font-size: small;
    font-style: normal;
    font-family: 'Antonio';
    font-weight: 400;
    text-decoration: none;
}

footer>a:hover {
    text-decoration: underline;
}

.club {
    color: red;
    font-family: 'Dekko-Regular';
    font-size: small;
    margin-right: 0.3em;
}

@media screen and (max-width: 768px) {
    .footer__regular{
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 20px;
        font-family: 'Dosis-Medium';
        background-color: #e6e6e6;
    }

    .footer__regular>a{
        color: black;
    }

    .footer__dark{
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px 20px;
        font-family: 'Dosis-Medium';
        background-color: transparent;
        color: white;
    }

    .footer__dark>a{
        color: white;
    }

    .footer__right{
        display: block;
        position: absolute;
        margin:0;
        padding: 0;
        bottom:0;
        width: 100%;
        background-color: #020000;
    }

    footer>a{
        font-size: small;
        font-style: normal;
        font-family: 'Antonio';
        font-weight: 400;
        text-decoration: none;
    }

    footer>a:hover {
        text-decoration: underline;
    }

    .club {
        color: red;
        font-family: 'Dekko-Regular';
        font-size: small;
        margin-right: 0.3em;
    }

}